@import "tailwindcss";

:root {
 --pageBackground: #ffffff;
 --primaryText: #ffffff;
 --secondaryText: #ffffff;
}

body {
 padding: 0;
}

@layer utilities {
 .bg-background {
  background-color: var(--pageBackground);
 }
 .primary-text {
  color: var(--primaryText);
 }
 .secondary-text {
  color: var(--secondaryText);
 }
}
